NationalCriminal/WebApplication/Service References/NC_Services/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebApplication.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebApplication.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SearchCriminalModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaxAge" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MaxHeight" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="MaxWeigth" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" name="MinAge" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MinHeight" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="MinWeight" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nationality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchCriminalModel" nillable="true" type="tns:SearchCriminalModel" />
</xs:schema>